[submodule "web-client-ui-RoboCafe-Coffeebot-NYU-AD"]
 path = web-client-ui-RoboCafe-Coffeebot-NYU-AD
 url = https://github.com/Sohaila-Abdulsattar-Mohammed/web-client-ui-RoboCafe-Coffeebot-NYU-AD.git

